<div class='intro'>
  <p>
    Welcome to Stochatstic
  </p>
  <p>
    Currently we have ShoutBot running.
  </p>
</div>
<div class='chat-interface'>
  <div class='chat-input'>
    <form>
      message:
      <input name='text' type='text'></input>
      <input type='submit' value='Send'>
    </form>
  </div>
  <div class='chat-log'>
  </div>
</div>
